<!doctype html>
<html>
<head>
    <title>Wedding Playlist</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="container">

    <header>
        <span> <%= user.local.email%> | </span>
        <a href="/" class="logout">Logout</a>
    </header>

    <div class="head">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6 hide" style="display:none">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %> <br>
                        <strong>email</strong>: <%= user.local.email %> <br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>

        <section class="info">
          <h1>Reception Planner</h1>
          <p>Choose your songs for every special moment</p>
        </section>


        <div class="form1">
          <h2>Song Submissions</h2><br>
          <div class="songForm">
            <% if (user.local.email) { %>
            <form action="/songForm" method="POST">
              <p id="songForm">Parents Entrance:</p>
              <input id="msgs" type="text" placeholder="e.g. L-O-V-E, Nat King Cole" name="parentsIntro"><br><br>
  
              <p id="songForm">Bridal Party Entrance:</p>
              <input id="msgs" type="text" placeholder="e.g. You Make My Dreams, Hall & Oates " name="bridalParty"><br><br>
  
              <p id="songForm">Bride & Groom Entrance:</p>
              <input id="msgs" type="text" placeholder="e.g. Knocks Me Off My Feet, Stevie Wonder" name="coupleIntro"><br><br>
  
              <p id="songForm">First Dance:</p>
              <input id="msgs" type="text" placeholder="e.g. Your Song, Elton John" name="firstDance"><br><br>
  
              <p id="songForm">Bride & Father Dance:</p>
              <input id="msgs" type="text" placeholder="e.g. At Last, Etta James" name="brideDance"><br><br>
  
              <p id="songForm">Groom & Mother Dance:</p>
              <input id="msgs" type="text" placeholder="e.g. Remember When, Alan Jackson" name="groomDance"><br><br>
  
              <p id="songForm">Cake Cutting Song:</p>
              <input id="msgs" type="text" placeholder="e.g. I Want to Be Evil, Eartha Kitt" name="cakeCutting"><br><br>
  
              <p id="songForm">Last Dance:</p>
              <input id="msgs" type="text" placeholder="e.g. Isn't She Lovely, Stevie Wonder" name="lastDance"><br><br>
  
              <p id="songForm">Additional songs:</p>
                <input id="msgs" type="text" placeholder="e.g. L-O-V-E (Groom & Daughter Dance)" name="msg"><br><br>

                <p id="songForm">Today's date:</p>
                <input id="msgs" type="date" name="date"><br><br>
            </div>
                <button class="submitSongs" type="submit">Submit</button>
                <span>Check if final version:</span><input type="radio" id="mark" name="final">
            </form>
        </div>
        <div class="col-sm-6" id="formAnswers">
          <h2>Your Submissions</h2>
          <div class="submissionsCard">
            <ul class="submissions">
              <% for(var i=0; i<reception.length; i++) {%>
                <% let color = reception[i].final === 'done' ? 'green' : 'black' %>
              <li class="message">
                <b><span id="<%= color %>"><%= reception[i].date %></span></b><br><br>
                  
                <span id="<%= color %>"><b>Parents Entrance</b><br>
                <%= reception[i].parentsIntro %></span><br><br>
  
                <span id="<%= color %>"><b>Bridal Party Entrance</b><br>
                <%= reception[i].bridalParty %></span><br><br>
  
                <span id="<%= color %>"><b>Bride & Groom Entrance</b><br>
                <%= reception[i].coupleIntro %></span><br><br>
  
                <span id="<%= color %>"><b>First Dance</b><br>
                <%= reception[i].firstDance %></span><br><br>
  
                <span id="<%= color %>"><b>Bride & Father Dance</b><br>
                <%= reception[i].brideDance %></span><br><br>
  
                <span id="<%= color %>"><b>Groom & Mother Dance</b><br>
                <%= reception[i].groomDance %></span><br><br>
  
                <span id="<%= color %>"><b>Cake Cutting Song</b><br>
                <%= reception[i].cakeCutting %></span><br><br>
  
                <span id="<%= color %>"><b>Last Dance</b><br>
                <%= reception[i].lastDance %></span><br><br>
  
                <span id="<%= color %>"><b>Additional songs</b><br>
                <%= reception[i].msg %></span><br><br>
              </li>
              <button class="trash" id="<%= reception[i]._id%>">Delete</button>
              <% } %>
            </ul>
            
          </div>
        </div>
        <% } %>
      </div>
  
  
    </div>


<script src="main.js"></script>

</body>
</html>

